{% extends '/components/_right-bar.twig' %}

{% block sidebar_right %}
<div class="panel-body">
	<h4 class="page-header" data-wizard-step-title>Agenda</h4>
	<p data-wizard-step-explanation>Berisi agenda pembelajaran dari mata kuliah yang diajarkan</p>
	<ul class="list-group" style="margin-bottom: 15px">
		<li class="list-group-item"><strong class="text-muted">Revision</strong> 01</li>
		<li class="list-group-item"><strong class="text-muted">Started on</strong> 08-01-2014</li>
		<li class="list-group-item"><span class="text-danger">Unapproved</span></li>
	</ul>
	<input type="submit" form="silabusForm" class="btn btn-block btn-success btn-lg" value="Submit">
</div>
{% endblock %}
