{% extends '/components/_right-bar.twig' %}

{% block sidebar_right %}
<div class="panel-body">
	<h4 class="page-header" data-wizard-step-title>Silabus</h4>
	<p data-wizard-step-explanation>Berisi tentang ... mata kuliah</p>
	<ul class="list-group">
		<li class="list-group-item"><small><strong class="text-muted">Revisi</strong></small><br>01</li>
		<li class="list-group-item"><small><strong class="text-muted">Start Date</strong></small><br><span data-moment-render>{{ startDate }}</span></li>
		<li class="list-group-item"><small><strong class="text-muted">Last Edit</strong></small><br><span data-moment-render>{% if lastEditDate is not null %}{{ lastEditDate }}{% else %}Never{% endif %}</span></li>
		<li class="list-group-item"><small><strong class="text-muted">Status</strong></small><br><span class="text-danger">Unapproved</span></li>
	</ul>
	<a href="#" class="{% if (not silabus.kompetensi) or (not silabus.pustaka) %}disabled{% endif %} btn btn-block btn-success btn-lg">Submit</a>
</div>
{% endblock %}
