{% extends '/components/_right-bar.twig' %}

{% block sidebar_right %}
<div class="panel-body">
	<h4 class="page-header" data-wizard-step-title>Tujuan</h4>
	<p data-wizard-step-explanation>Berisi tentang tujuan dari mata kuliah yang sedang dijabarkan</p>
	<ul class="list-group">
		<li class="list-group-item"><strong class="text-muted">Revision</strong> 01</li>
		<li class="list-group-item"><strong class="text-muted">Started on</strong> 08-01-2014</li>
		<li class="list-group-item"><span class="text-danger">Unapproved</span></li>
	</ul>
	<div class="btn-group btn-group-justified" style="margin-bottom: 15px">
		<a href="#" class="btn btn-primary" alt="Delete" data-form-destroy><i class="fa fa-trash"></i><span class="sr-only">Delete</span></a>
		<a href="#" class="btn btn-primary" alt="Save" data-form-save><i class="fa fa-save"></i><span class="sr-only">Save</span></a>
	</div>
	<input type="submit" class="btn btn-block btn-success btn-lg" form="silabusForm" value="Submit">
</div>
{% endblock %}
