{% extends '/components/_right-bar.twig' %}

{% block sidebar_right %}
<div class="panel-body">
	<h4 class="page-header" data-wizard-step-title>Kompetensi</h4>
	<p data-wizard-step-explanation>Berisi tentang ... mata kuliah</p>
	<ul class="list-group">
		<li class="list-group-item"><small><strong class="text-muted">Revisi</strong></small><br>01</li>
		<li class="list-group-item"><small><strong class="text-muted">Status</strong></small><br><span class="text-danger">Unapproved</span></li>
	</ul>
	<a href="{{ breadcrumbs.silabus }}" class="btn btn-block btn-primary btn-lg">Kembali</a>
</div>
{% endblock %}
