{% extends '/components/_right-bar.twig' %}

{% block sidebar_right %}
<div class="panel-body">
	<h4 class="page-header">Silabus</h4>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt enim exercitationem ab alias dolorum ipsam, ad modi ex nesciunt, maxime illum incidunt. Error totam incidunt pariatur amet distinctio, aliquid ullam.</p>
	<ul class="list-group">
		<li class="list-group-item"><strong class="text-muted">Revision</strong> 01</li>
		<li class="list-group-item"><strong class="text-muted">Started on</strong> 08-01-2014</li>
		<li class="list-group-item"><span class="text-danger">Unapproved</span></li>
	</ul>
	<div class="btn-group btn-group-justified">
		<a href="#" class="btn btn-primary" alt="Clear"><i class="fa fa-file"></i><span class="sr-only">Clear</span></a>
		<a href="#" class="btn btn-primary" alt="Save"><i class="fa fa-save"></i><span class="sr-only">Save</span></a>
		<a href="#" class="btn btn-primary" alt="Delete"><i class="fa fa-trash"></i><span class="sr-only">Delete</span></a>
	</div>
</div>
{% endblock %}
