<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="icon" type="image/vnd.microsoft.icon" href="/favicon.ico" />
	<title>{% block pagetitle %}Home{% endblock %} - SAR</title>
	<link href="/css/app.min.css" rel="stylesheet">
</head>
<body>
	<div id="wrapper">
	{% block content %}{% endblock %}
	</div>
	<script src="/js/bundle.js" charset="utf-8"></script>
	{% if debug %}
	<script src="//localhost:35729/livereload.js"></script>
	{% endif %}
</body>
</html>
