<!--header start-->
<header class="header white-bg">
	<div class="sidebar-toggle-box">
		<div data-original-title="Toggle Navigation" data-placement="right" class="icon-reorder tooltips"></div>
		</div>
	<!--logo start-->
	<a href="#" class="logo">Flat<span>lab</span></a>
	<!--logo end-->
	<div class="nav notify-row" id="top_menu">
	<!--  notification goes here -->
	</div>
	<div class="top-nav ">
	<!--search & user info goes here-->
	</div>
</header>
<!--header end-->
