<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<a class="navbar-brand" href="/"><strong>MCIS</strong>Silabus &amp; SAR</a>
	</div>
	<ul class="nav navbar-top-links navbar-right">
		<li>
			<a href="/">
				<i class="fa fa-bank fa-fw"></i> MCIS
			</a>
		</li>
		{% if username is not empty %}
			{% if matkuls is not empty and matkuls|length > 1 %}
		<li class="dropdown">
			<a class="dropdown-toggle" data-toggle="dropdown" href="#">
				<i class="fa fa-briefcase fa-fw"></i> Lessons <i class="fa fa-caret-down"></i>
			</a>
			<ul class="dropdown-menu dropdown-tasks">
				{% for matkul in matkuls %}
				<li>
					<a href="/matkul/{{ matkul.KDMataKuliah }}">
						<div>
							<p>
								<strong>{{ matkul.NamaMK }}</strong>
								<span class="pull-right text-muted">x% Complete</span>
							</p>
							<div class="progress progress-striped active">
                  <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                      <span class="sr-only">x% Complete (success)</span>
                  </div>
              </div>
						</div>
					</a>
				</li>
					{% if loop.index0 is even %}
				<li class="divider"></li>
					{% endif %}
				{% endfor %}
			</ul>
			<!-- /.dropdown-tasks -->
		</li>
			{% endif %}
		<!-- /.dropdown -->
		<li class="dropdown">
			<a class="dropdown-toggle" data-toggle="dropdown" href="#" title="{{ username }}">
				<i class="fa fa-user fa-fw"></i> {{ username|length > 15 ? username|slice(0, 15) ~ ' ...' : username }} <i class="fa fa-caret-down"></i>
			</a>
			<ul class="dropdown-menu dropdown-user">
				<li><a href="/user"><i class="fa fa-user fa-fw"></i> User Profile</a>
				</li>
				<li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
				</li>
				<li class="divider"></li>
				<li><a href="/logout"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
				</li>
			</ul>
			<!-- /.dropdown-user -->
		</li>
		{% else %}
		<a href="/login" class="btn btn-primary primary navbar-btn" style="margin-right: 15px">Login</a>
		{% endif %}
		<!-- /.dropdown -->
	</ul>
	{% include 'components/_sidebar.twig' %}
</nav>
