<div class="panel panel-default">
	<div class="panel-heading">
	<i class="fa fa-bell fa-fw"></i> Latest Activities
	</div>
	<!-- /.panel-heading -->
	<div class="panel-body">
		<div class="list-group">
			<a href="#" class="list-group-item">
				<i class="fa fa-comment fa-fw"></i> New Comment
				<span class="pull-right text-muted small"><em>4 minutes ago</em>
				</span>
			</a>
		</div>
		<!-- /.list-group -->
		<a href="#" class="btn btn-default btn-block">View All Alerts</a>
	</div>
	<!-- /.panel-body -->
</div>
