{% if state == 'mini' %}
<div class="navbar-default sidebar" role="navigation" data-mini>
{% else %}
<div class="navbar-default sidebar" role="navigation">
{% endif %}
	<div class="sidebar-nav navbar-collapse">
		<ul class="nav" id="side-menu">
			{# <li class="sidebar-search">
				<i class="fa fa-search fa-fw text-primary icon-dummy"></i>
				<form class="input-group custom-search-form" action="/search" method="GET">
					<input type="text" class="form-control" placeholder="Search..." name="q">
					<span class="input-group-btn">
						<button class="btn btn-default" type="submit">
							<i class="fa fa-search"></i>
						</button>
					</span>
				</form>
				<!-- /input-group -->
			</li> #}
			<li>
				<a href="/"><i class="fa fa-dashboard fa-fw"></i> <span>Home</span></a>
			</li>
			{% if username and matkuls is not empty %}
			{# <li>
				<a class="" href="/berita"><i class="fa fa-comments fa-fw"></i> <span>Berita</span></a>
			</li> #}
			<li>
				<a class="" href="/matakuliah?filter=active"><i class="fa fa-briefcase fa-fw"></i> <span>Mata Kuliah</span></a>
			</li>
			{# <li>
				<a class="" href="#"><i class="fa fa-briefcase fa-fw"></i> <span>Mata Kuliah</span> <span class="fa arrow"></span></a>
				<ul class="nav nav-second-level">
					<li>
						<a href="/matakuliah?filter=active"><i class="fa fa-pencil fa-fw"></i> <span>On Progress</span></a>
					</li>
					<li>
						<a href="/matakuliah?filter=wait"><i class="fa fa-history fa-fw"></i> <span>Pending Approval</span></a>
					</li>
					<li>
						<a href="/matakuliah?filter=approved"><i class="fa fa-archive fa-fw"></i> <span>Arsip</span></a>
					</li>
				</ul>
			</li> #}
			<li>
				<a class="" href="#"><i class="fa fa-line-chart fa-fw"></i> <span>Self Assest Report</span> <span class="fa arrow"></span></a>
				<ul class="nav nav-second-level">
					{# <li>
						<a href="/matakuliah?filter=active"><i class="fa fa-pencil fa-fw"></i> <span>On Progress</span></a>
					</li>
					<li>
						<a href="/matakuliah?filter=wait"><i class="fa fa-history fa-fw"></i> <span>Pending Approval</span></a>
					</li>
					<li>
						<a href="/matakuliah?filter=approved"><i class="fa fa-archive fa-fw"></i> <span>Arsip</span></a>
					</li> #}
					<li>
						<a href="#"><i class="fa fa-plug fa-fw"></i> <span>Not Implemented Yet</span></a>
					</li>
				</ul>
			</li>
				{% if role == "kaprodi" %}
			<li>
				<a class="" href="#"><i class="fa fa-graduation-cap fa-fw"></i> <span>Kaprodi</span> <span class="fa arrow"></span></a>
				<ul class="nav nav-second-level">
					<li>
						<a href="/approval?filter=pending"><i class="fa fa-edit fa-fw"></i> <span>Approval Silabus</span></a>
					</li>
					<li>
						<a href="/"><i class="fa fa-comment-o fa-fw"></i> <span>Broadcast Message</span></a>
					</li>
				</ul>
			</li>
			{# <li>
				<a href="/"><i class="fa fa-cog fa-fw"></i> <span>System Settings</span></a>
			</li> #}
				{% endif %}
			{% else %}
			{% endif %}
			<li>
				<a class="" href="/arsip"><i class="fa fa-archive fa-fw"></i> <span>Arsip Approval Matakuliah</span></a>
			</li>
		</ul>
	</div>
	<!-- /.sidebar-collapse -->
</div>
