{% if state == 'mini' %}
<div class="navbar-default sidebar" role="navigation" data-mini>
{% else %}
<div class="navbar-default sidebar" role="navigation">
{% endif %}
	<div class="sidebar-nav navbar-collapse">
		<ul class="nav" id="side-menu">
			{% if fts %}
			<li class="sidebar-search">
				<i class="fa fa-search fa-fw text-primary icon-dummy"></i>
				<form class="input-group custom-search-form" action="/search" method="GET">
					<input type="text" class="form-control" placeholder="Search..." name="q">
					<span class="input-group-btn">
						<button class="btn btn-default" type="submit">
							<i class="fa fa-search"></i>
						</button>
					</span>
				</form>
				<!-- /input-group -->
			</li>
			{% endif %}
			<li>
				<a href="/"><i class="fa fa-dashboard fa-fw"></i> <span>Home</span></a>
			</li>
			{% if username is not empty %}
				{% if matkuls %}
			<li>
				<a href="/matakuliah?filter=active" data-pjax data-template="<i class='fa fa-refresh fa-spin pull-right'></i>"><i class="fa fa-briefcase fa-fw"></i> <span>Mata Kuliah</span></a>
			</li>
				{% endif %}
				{% if sars %}
			<li>
				<a href="#"><i class="fa fa-line-chart fa-fw"></i> <span>Self Assesment</span> <span class="fa arrow"></span></a>
				<ul class="nav nav-second-level">
					{% for sar in sars %}
						{% if sar.approved == 'approved' %}
					<li>
						<a href="/sar/{{ sar.KDMataKuliah }}" data-pjax><i class="fa fa-newspaper-o"></i> <span>{{ sar.NamaMK }}</span></a>
					</li>
						{% endif %}
					{% endfor %}
				</ul>
			</li>
				{% endif %}
				{% if role == "kaprodi" %}
			<li>
				<a class="" href="#"><i class="fa fa-graduation-cap fa-fw"></i> <span>Kaprodi</span> <span class="fa arrow"></span></a>
				<ul class="nav nav-second-level">
					<li>
						<a href="/approval?filter=pending" data-pjax><i class="fa fa-edit fa-fw"></i> <span>Approval Silabus</span></a>
					</li>
					<li>
						<a href="/plotting" data-pjax><i class="fa fa-comment-o fa-fw"></i> <span>Plotting Penanggungjawab</span></a>
					</li>
				</ul>
			</li>
			{# <li>
				<a href="/"><i class="fa fa-cog fa-fw"></i> <span>System Settings</span></a>
			</li> #}
				{% endif %}
			{% else %}
			{% endif %}
			<li>
				<a class="" href="/arsip" data-pjax><i class="fa fa-archive fa-fw"></i> <span>Arsip Approval Matakuliah</span></a>
			</li>
		</ul>
	</div>
	<!-- /.sidebar-collapse -->
</div>
