<div class="panel panel-default">
	<div class="panel-heading">
	<i class="fa fa-bell fa-fw"></i> Latest Activities
	</div>
	<!-- /.panel-heading -->
	<div class="panel-body">
		<div class="list-group">
			<div class="list-group-item">
				<i class="fa fa-comment fa-fw"></i>
				<span><strong>Abu </strong></span>
				<span>Mengubah status </span>
				<span><strong>Agenda </strong></span>
				<span>pada Matakuliah </span>
				<span><strong>Tata Boga </strong></span>
				<span>menjadi Sukses</span>
				<span class="pull-right text-muted small"><em>4 minutes ago</em>
				</span>
			</div>
			<div class="list-group-item">
				<i class="fa fa-comment fa-fw"></i>
				<span><strong>Edi </strong></span>
				<span>Mengubah status </span>
				<span><strong>Agenda </strong></span>
				<span>pada Matakuliah </span>
				<span><strong>Tata Boga </strong></span>
				<span>menjadi Sukses</span>
				<span class="pull-right text-muted small"><em>4 minutes ago</em>
				</span>
			</div>
			<div class="list-group-item">
				<i class="fa fa-comment fa-fw"></i> New Comment
				<span class="pull-right text-muted small"><em>4 minutes ago</em>
				</span>
			</div>
			<div class="list-group-item">
				<i class="fa fa-comment fa-fw"></i> New Comment
				<span class="pull-right text-muted small"><em>4 minutes ago</em>
				</span>
			</div>
		</div>
		<!-- /.list-group -->
		<a href="#" class="btn btn-default btn-block">View All Alerts</a>
	</div>
	<!-- /.panel-body -->
</div>
