{% extends 'base.twig' %}

{% block pagetitle %}Silabus for {% endblock %}

{% block content %}
{% include 'components/_header.twig' with {'state': 'mini'}%}
<div id="page-wrapper">
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">Silabus</h1>
			{% include 'components/widgets/_breadcrumb.twig' %}
			{# <div class="alert alert-dismissible alert-warning" role="alert">
				<button type="button" class="close" data-dismiss="alert">
					<span aria-hidden="true">&times;</span>
					<span class="sr-only">Close</span>
				</button>
				<strong>Warning:</strong> You have finished this section.
			</div>
			<div class="alert alert-dismissible alert-danger" role="alert">
				<button type="button" class="close" data-dismiss="alert">
					<span aria-hidden="true">&times;</span>
					<span class="sr-only">Close</span>
				</button>
				<strong>Uh oh.</strong> This has been verified and approved by kaprodi. you cannot edit this anymore.
			</div> #}
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<ul data-wizard-pager></ul>
			<form action="/" id="silabusForm" role="form" data-wizard data-form-autosave class="cycle-slideshow"
				data-cycle-fx="none"
				data-cycle-auto-height="false"
				data-cycle-timeout="0"
				data-cycle-speed="100"
				data-cycle-slides=">[data-wizard-pages]"
				data-cycle-slide-active-class="active"
				data-cycle-log="false"
				data-cycle-prev="[data-wizard-toggle=wizard-prev]"
				data-cycle-next="[data-wizard-toggle=wizard-next]"
				data-cycle-allow-wrap="false"
				data-cycle-pager="[data-wizard-pager]"
				data-cycle-pager-active-class="active"
				{% verbatim %}
				data-cycle-pager-template="<li data-wizard-pagers><a href='#'><span>{{slideNum}}</span>. {{dataset.stepTitle}}</a></li>"
				{% endverbatim %}
				>
				<section class="step" data-wizard-pages data-step-title="Tujuan" data-step-explanation="Berisi tentang tujuan dan kompetensi dari mata kuliah yang sedang dijabarkan" data-cycle-hash="Tujuan">
					<div class="form-group" data-step-title="Tujuan">
						<textarea data-input-autosave class="form-control input-lg" name="tujuan" id="tujuan" rows="10" placeholder="lorem" data-multiline="disable"></textarea>
					</div>
				</section>
				<section class="step" data-wizard-pages data-step-title="Kompetensi" data-step-explanation="Berisi tentang penjelasan kompetensi dari mata kuliah yang sedang dijabarkan" data-cycle-hash="Kompetensi">
					<div class="form-group kompetensi" data-multi-target-parent>
						<div class="kompetensi" data-multi-target>
							<a href="#" data-multi-target-close><i class="fa fa-times"></i><span class="sr-only">Close</span></a>
							<textarea data-input-autosave class="form-control input-lg" name="kompetensi" id="kompetensi" rows="3" placeholder="lorem" data-multiline="disable"></textarea>
							<select multiple name="kompetensi-select" id="kompetensi-1" class="form-control input-plain" data-input-autosave data-form-multitag data-placeholder="Kategori">
								<option value="187" data-tag-text="Berkomunikasi dengan menggunakan multibahasa">U1</option>
								<option value="188" data-tag-text="Kemampuan Technopreneurship">V2</option>
							</select>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-6 col-sm-offset-3">
							<a data-multi-target-btn data-target=".kompetensi[data-multi-target]" data-multi-target-container=".kompetensi[data-multi-target-parent]" href="#" class="btn btn-lg btn-success btn-block"><i class="fa fa-plus"></i><span class="hidden-sm"> Tambah Kompetensi</span></a>
						</div>
					</div>
				</section>
				<section class="step" data-wizard-pages data-step-title="Pokok Bahasan" data-step-explanation="Berisi tentang asdasdas dari mata kuliah yang sedang dijabarkan" data-cycle-hash="asdasds">
					<div class="form-group">
						<textarea data-input-autosave class="form-control input-lg" name="pokok-bahasan" id="pokokbahasan" rows="10" placeholder="lorem" data-multiline="disable"></textarea>
					</div>
				</section>
				<section class="step" data-wizard-pages data-step-title="Kepustakaan" data-step-explanation="Berisi tentang asdasdas dari mata kuliah yang sedang dijabarkan" data-cycle-hash="asdasds">
					<div class="form-group kepustakaan" data-multi-target-parent>
						<div class="kepustakaan" data-multi-target>
							<a href="#" data-multi-target-close><i class="fa fa-times"></i><span class="sr-only">Close</span></a>
							<textarea data-input-autosave class="form-control input-lg" name="kepustakaan" id="kepustakaan" rows="3" placeholder="lorem" data-multiline="disable"></textarea>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-6 col-sm-offset-3">
							<a data-multi-target-btn data-target=".kepustakaan[data-multi-target]" data-multi-target-container=".kepustakaan[data-multi-target-parent]" href="#" class="btn btn-lg btn-success btn-block"><i class="fa fa-plus"></i><span class="hidden-sm"> Tambah Kepustakaan</span></a>
						</div>
					</div>
				</section>
				{# <div class="form-group">
					<label for="kompetensi">Kompetensi</label>
					<textarea class="form-control" name="" id="kompetensi" rows="10"></textarea>
					<hr>
				</div>
				<div class="form-group">
					<label for="tujuan-belajar">Tujuan Pembelajaran</label>
					<textarea class="form-control" name="" id="tujuan-belajar" rows="10"></textarea>
					<hr>
				</div>
				<div class="form-group">
					<label for="pokok-bahasan">Pokok bahasan</label>
					<textarea class="form-control" name="" id="pokok-bahasan" rows="10"></textarea>
					<hr>
				</div> #}
			</form>
		</div>
	</div>
</div>
{% include 'components/sidebar/_silabus-helper.twig' with {'state': 'collapsed'}  %}
{% endblock %}

{% block inlinejs %}
<script>triggerLayoutMini();formAutoSave();multitags()</script>
{% endblock %}
