{% extends 'base.twig' %}

{% block pagetitle %}Silabus for {% endblock %}

{% block content %}
{% include 'components/_header.twig' with {'state': 'mini'} %}
<div id="page-wrapper" class="full-page">
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">Silabus</h1>
			<div class="alert alert-dismissible alert-warning" role="alert">
				<button type="button" class="close" data-dismiss="alert">
					<span aria-hidden="true">&times;</span>
					<span class="sr-only">Close</span>
				</button>
				<strong>Warning:</strong> You have finished this section.
			</div>
			<div class="alert alert-dismissible alert-danger" role="alert">
				<button type="button" class="close" data-dismiss="alert">
					<span aria-hidden="true">&times;</span>
					<span class="sr-only">Close</span>
				</button>
				<strong>Uh oh.</strong> This has been verified and approved by kaprodi. you cannot edit this anymore.
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-7">
			<form action="" role="form" data-wizard>
				<section class="form-group step" data-step-title="Tujuan" data-step-explanation="Berisi tentang tujuan dari mata kuliah yang sedang dijabarkan">
					<textarea class="form-control" name="" id="tujuan" rows="10" autofocus></textarea>
				</section>
				<section class="form-group step" data-step-title="Kompetensi" data-step-explanation="Berisi tentang penjelasan kompetensi dari mata kuliah yang sedang dijabarkan">
					<textarea class="form-control" name="" id="kompetensi" rows="10" autofocus></textarea>
				</section>
				<section class="form-group step" data-step-title="JANCOK" data-step-explanation="Berisi tentang JANCOK dari mata kuliah yang sedang dijabarkan">
					<textarea class="form-control" name="" id="kompetensi" rows="10" autofocus></textarea>
				</section>
				{# <div class="form-group">
					<label for="kompetensi">Kompetensi</label>
					<textarea class="form-control" name="" id="kompetensi" rows="10"></textarea>
					<hr>
				</div>
				<div class="form-group">
					<label for="tujuan-belajar">Tujuan Pembelajaran</label>
					<textarea class="form-control" name="" id="tujuan-belajar" rows="10"></textarea>
					<hr>
				</div>
				<div class="form-group">
					<label for="pokok-bahasan">Pokok bahasan</label>
					<textarea class="form-control" name="" id="pokok-bahasan" rows="10"></textarea>
					<hr>
				</div> #}
			</form>
		</div>
	</div>
</div>
{% include 'components/sidebar/_silabus-helper.twig' %}
{% endblock %}
